<div id="product-page" class="flex flex-col bg-gray-50 justify-center align-center text-gray-700 h-full">
  <div class="w-full h-full relative shadow-sm">
    <div id="page-container" class="flex flex-col h-screen bg-gray-50 relative">
      <div id="product-photos" class="flex-grow w-full relative">
        <div class="h-full w-full bg-cover rounded-b-[18%] shadow-md" style="background-image: url('https://cdn.shopify.com/s/files/1/1422/4174/products/BCP_5048_98485769-b310-4d17-8540-d1ff0c993937-2_800x.jpg') ;"></div>
        <div id="colors" class="absolute top-0 bottom-0 right-3 m-auto flex flex-col items-center align-middle justify-center space-y-4 py-4 px-3 h-content bg-opacity">
          <div class="h-6 w-6 bg-gray-200 rounded-full z-10"></div>
          <div class="h-6 w-6 bg-gray-900 rounded-full z-10"></div>
          <div class="h-6 w-6 bg-green-500 rounded-full border-double border-4 z-10"></div>
        </div>
      </div>
      <div id="product-details" class="shadow-sm pt-4 px-3">
        <div id="product-info" class=" bg-gray-50 shadow-sm space-y-3">
          <div id="info-card" class=" flex flex-row h-full uppercase justify-between items-center text-gray-700">
            <div id="name-product" class="">
              <h3 class="text-base font-semibold">Vestido Claire Verde</h3>
            </div>
            <div id="favourites" class="">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="space-y-2 py-6 text-justify flex-shrink bg-gray-50 px-3">
        <h3 class="text-lg font-medium">Descripcion del producto</h3>
        <p class="font-light text-gray-500">Vestido de jersey cuello redondo manga corta. Cuello aplicado. Detalle de roll up en manga. Estampa centrada en frente con personaje de Disney. Grifa institucional en ruedo izquierdo.</p>
      </div>
    </div>
    <div class="flex flex-col uppercase px-3 text-sm divide-y-[1px] divide-gray-500 divide-dashed">
      <a class="py-4 flex flex-row space-x-4 items-center align-middle" href="#">       
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="truck" class="h-8 w-8" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path fill="currentColor" d="M624 352h-16V243.9c0-12.7-5.1-24.9-14.1-33.9L494 110.1c-9-9-21.2-14.1-33.9-14.1H416V48c0-26.5-21.5-48-48-48H48C21.5 0 0 21.5 0 48v320c0 26.5 21.5 48 48 48h16c0 53 43 96 96 96s96-43 96-96h128c0 53 43 96 96 96s96-43 96-96h48c8.8 0 16-7.2 16-16v-32c0-8.8-7.2-16-16-16zM160 464c-26.5 0-48-21.5-48-48s21.5-48 48-48 48 21.5 48 48-21.5 48-48 48zm320 0c-26.5 0-48-21.5-48-48s21.5-48 48-48 48 21.5 48 48-21.5 48-48 48zm80-208H416V144h44.1l99.9 99.9V256z"></path></svg>
        <span>Envios</span>
      </a>
      <a class="py-4 flex flex-row space-x-4 items-center align-middle" href="#">
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="credit-card" class="h-8 w-8" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M0 432c0 26.5 21.5 48 48 48h480c26.5 0 48-21.5 48-48V256H0v176zm192-68c0-6.6 5.4-12 12-12h136c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H204c-6.6 0-12-5.4-12-12v-40zm-128 0c0-6.6 5.4-12 12-12h72c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H76c-6.6 0-12-5.4-12-12v-40zM576 80v48H0V80c0-26.5 21.5-48 48-48h480c26.5 0 48 21.5 48 48z"></path></svg>
        <span> Promociones y Metodos de Pago </span>
      </a>
      <a class="py-4 flex flex-row space-x-4 items-center align-middle" href="#">
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="undo-alt" class="h-8 w-8" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M255.545 8c-66.269.119-126.438 26.233-170.86 68.685L48.971 40.971C33.851 25.851 8 36.559 8 57.941V192c0 13.255 10.745 24 24 24h134.059c21.382 0 32.09-25.851 16.971-40.971l-41.75-41.75c30.864-28.899 70.801-44.907 113.23-45.273 92.398-.798 170.283 73.977 169.484 169.442C423.236 348.009 349.816 424 256 424c-41.127 0-79.997-14.678-110.63-41.556-4.743-4.161-11.906-3.908-16.368.553L89.34 422.659c-4.872 4.872-4.631 12.815.482 17.433C133.798 479.813 192.074 504 256 504c136.966 0 247.999-111.033 248-247.998C504.001 119.193 392.354 7.755 255.545 8z"></path></svg>
        <span>Cambios y devoluciones</span>
      </a>
    </div>
    <div id="shop-btn-box" class="w-full flex flex-row sticky bottom-0 bg-white px-3 items-center space-x-4 rounded-t-md shadow-t">
      <div id="color-selected">
        <div class="bg-green-500 h-12 w-12 rounded-xl shadow-md"></div>
      </div>
      <div id="size-selected" class="flex flex-col justify-center items-center h-12 w-12 rounded-xl text-center bg-gray-200">
        <span class="font-bold">XS</span>
      </div>
      <div class=" flex-grow py-4 justify-center items-center uppercase font-medium col-span-4">
        <a class="flex space-x-3 justify-center items-center h-12 px-10 rounded-xl text-gray-200 bg-gray-900" href="#">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z" />
          </svg>
          <span>Comprar</span>
        </a>
      </div>
    </div>
  </div>
  <div id="suggestions" class="p-4 text-center ">
    <h3 class="text-decoration relative text-center text-base font-semibold uppercase">
      <span class="bg-gray-50">Tambien te puede gustar</span>
    </h3>
    <div class="flex flex-row pt-4 space-x-2">
      <%2.times do %>
        <%= render '/layouts/product_list' %>
      <% end %>
    </div>
  </div>
</div>
