@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scroll-bar::-webkit-scrollbar {
    @apply hidden;
  }
  .shadow-t{
    box-shadow: 0 -5px 4px -5px #6b7280;
  }
}
