<div id="product-list" class="mb-6 h-full w-full relative items-center ">
  <a href="/product">
    <img class="h-[250px] w-full object-cover object-center rounded-md lg:h-[300px]" src="https://dygk1aj3dwrbt.cloudfront.net/media/products/7852/listing/JenniKayne_SummerDress_White-2.jpg?1619127585" alt="" />
    <div id="lg-colors" class="hidden space-x-6 justify-center py-2 lg:flex lg:flex-row">
      <div class="h-6 w-6 bg-gray-200 rounded-full"></div>
      <div class="h-6 w-6 bg-gray-900 rounded-full"></div>
      <div class="h-6 w-6 bg-green-500 rounded-full"></div>
    </div>
    <div class="w-full font-normal text-gray-700 text-xs text-center py-2">
      <span class="uppercase font-semibold">Vestido Claire</span>
      <div id="prices">
        <span class="line-through">$5400</span>
        <span class="font-bold">$4800</span>
        <br />
        <span>12 cuotas de $400</span>
      </div>
    </div>
  </a>
  <div id="colors" class="absolute z-40 bottom-[150px] lg:hidden">
    <div class="h-6 w-6 bg-gray-900 border-2 rounded-full m-4"></div>
    <div class="h-4 w-4 bg-gray-300 rounded-full m-4"></div>
    <div class="h-4 w-4 bg-green-500 rounded-full m-4"></div>
  </div>
  <div class="absolute top-1 right-3 text-xs bg-red-600 py-1 px-2 rounded-lg">
    <span class="text-gray-100 uppercase">25% off</span>
  </div>
</div>
